.marquee {
    overflow: hidden;
    position: relative; 
    white-space: nowrap; 
}

.marquee span{
    display: flex; /* Treat the span as inline content */
    flex-direction: row;
    justify-content: space-between;
    /* will-change: transform; */
    /* animation: marquee 10s linear infinite;  */
    width: '100%';
}

@keyframes marquee {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee span {
        animation: none; /* Disable animation for reduced motion users */
        width: auto;
        display: block;
        line-height: 1.5;
        text-align: center;
        white-space: normal;
    }
}
