@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #000000;
  --font-space-grotesk: 'Space Grotesk', sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f4;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}
.input {
  border: 1px solid #ccc; 
  outline: none; 
  transition: border-color 0.3s ease-in-out; 
}

.input:focus {
  border-color: transparent; 
  box-shadow: none; 
}